.partners {
    background-color: #FFFFFF;
    padding: 100px 0;
    &__content {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img { 
            max-height: 150px;
            transition: filter 0.2s linear;
            filter: grayscale(100%);
            &:hover {
                filter: none;
            }
        }
    }
}