.videos {
    width: 100%;
    &__header {
        font-size: 18px;
        font-weight: 400;
        margin: 100px 0 70px 0;
    }
    &__content {
        position: relative;
        display: flex;
        &-item {
            margin-right: 50px;
        }
        img {
            max-height: 400px;
        }
        &-title {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 40px;
            }
        }
        &-text {
            display: flex;
            font-size: 24px;
            font-weight: 400;
            cursor: pointer;
            img {
                width: 20px;
                margin-left: 10px;
                transform: rotate(135deg);
                object-fit: contain;
            }
        }
        &-img {
            position: relative;
            cursor: pointer;
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &-logo {
            cursor: pointer;
        }
        .slick-prev {
            
            left: 40%;
            top: 106%;
            background: url('../../images/videos/Arow-left.svg') center no-repeat;
            &::before{
                content: '' ;
            }
            &:hover {
                background: url('../../images/videos/Arow-left.svg') center no-repeat;
            }
            &:focus {
                background: url('../../images/videos/Arow-left.svg') center no-repeat;
            } 
        }

            .slick-next {
                right: 40%;
                top: 106%;
                background: url('../../images/videos/Arow-right.svg') center no-repeat;
            &::before{
                content: '';
            }
            &:hover {
                background: url('../../images/videos/Arow-right.svg') center no-repeat;
            }
            &:focus {
                background: url('../../images/videos/Arow-right.svg') center no-repeat;
            }
        }

        .slick-arrow {
            width: 60px;
            position: absolute;
            z-index: 10;
            font-size: 0;
        }
    }
    .lines {
        img {
            width: 100%;
        } 
    }
}


